################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tydzien2/bin/Debug
/Tydzien2/obj/Debug
